<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>制梦壁纸</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bz/bz.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript">
        // function tajax()
        // {
        //     var values = document.getElementById('tp_name').value;
        //     $('#a').attr('href','/BZ/search/'+values);
        // }
        document.oncontextmenu = function () {
                alert("当前页面禁止右键!!");
                return false;
        };

         function test(x,y){
            z=x+y;
            return z;
        }
        setInterval(function()
        {test+""=="function test(x,y){z=x+y;return z;}" ? console.log("未修改")
        :setInterval(
        function(){
            debugger;
            },1000);}
            ,1000);
        test(100,200);

        // document.onkeydown = function () {
        //     if (window.event.keycode == 123)
        //     {
        //         event.keycode = 0;
        //         event.returnValue = false;
        //         return false;
        //     }
        // };
        function bbs()
        {
            $('.bb').show();
        }
        function bbd() {
            $('.bb').hide();
        }
    </script>
</head>
<body oncontextmenu="return false" onselectstart="return false">
    {% include "bz_header.html" %}
    <div class=".container-fluid" style="width: 90%;padding-left: 11%">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

   <!-- 指示符 -->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          </div>

          <!-- 轮播图片 -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://static.runoob.com/images/mix/img_fjords_wide.jpg" class="d-block" style="width:100%">
            </div>
            <div class="carousel-item">
              <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg" class="d-block" style="width:100%">
            </div>
            <div class="carousel-item">
              <img src="https://static.runoob.com/images/mix/img_mountains_wide.jpg" class="d-block" style="width:100%">
            </div>
          </div>

        </div>
    </div>
    <div class=".container d1">
        <div class="row">
            <div class="col-sm-2 col"><div style='background-image: url("/static/images/TP/fjt.jpg")'><a href="/BZ/fj/1"><span>风景</span></a></div></div>
            <div class="col-sm-2 col"><div style='background-image: url("/static/images/TP/dmt.jpeg")'><a href="/BZ/dm/1"><span>动漫</span></a></div></div>
            <div class="col-sm-2 col"><div style='background-image: url("/static/images/TP/mxt.jpg")'><a href="/BZ/mx/1"><span>明星</span></a></div></div>
            <div class="col-sm-2 col"><div style='background-image: url("/static/images/TP/yxt.jpg")'><a href="/BZ/yx/1"><span>游戏</span></a></div></div>
            <div class="col-sm-2 col"><div style='background-image: url("/static/images/TP/bjt.jpg")'><a href="/BZ/bj/1"><span>背景</span></a></div></div>
            <div class="col-sm-2 col"><div style='background-image: url("/static/images/TP/mnt.jpg")'><a href="/BZ/mx/1"><span>美女</span></a></div></div>
        </div>
        <div class="row">
            {% for i in data %}
            <div class="col-sm-4 col-4" style="padding-top: 5%">
                <div id="div_b" onmouseenter="bbs()" onmouseout="bbd()" style='background-image: url("{{i.url}}");height: 250px;padding-top: 50%;padding-left: 1%'>
<!--                    <b class="bb" style="display: inline">{{i.name}}</b>-->
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row" style="margin-top: 4%;line-height: 34px">
            <div class="col-3 col page_pervious">
                {% if data.has_pervious %}
                <div style="display: inline-block"><a href="{{data.pervious_page_number}}">上一页</a></div>
                {% else %}
                <div style="display: inline-block"><a disabled href="#">上一页</a></div>
                {% endif %}
            </div>
            <div class="col-4">
                <ul style="display: flex">
                    {% for number in page_ranges.page_range %}
                    <li class="page"><a href="{{number}}">{{number}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% if data.has_next %}
            <div class="col-5 col page_next"><a href="{{data.next_page_number}}">下一页</a></div>
            {% else %}
            <div class="col-5 col page_next"><a disabled href="#">下一页</a></div>
            {% endif %}
        </div>
    </div>
</body>
</html>