<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>制梦壁纸header</title>
</head>
<body>
    <div class=".container-fluid header" style="overflow: hidden">
        <div class="row">
            <div class="col-sm-2 col-6">
                <a href="/BZ/fj/1"><img src="/static/images/dreamspace/tk.png" /></a>
            </div>
            <div class="col-sm-3 col-6">
                <span>超清无水印动静态壁纸</span>
            </div>
            <div class="col-sm-7 col" style="position: relative;">
                <form method="get" action="/BZ/search/" id="myform">
                <a onclick='document.getElementById("myform").submit()'><i class="icon"></i></a>
                <input type="text" name="tp_name" class="form-control border-2 input-search" placeholder="2000万张免费壁纸">
                </form>
            </div>
        </div>
    </div>
</body>
</html>