<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/dreamspace.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <title>制梦空间</title>
</head>
<body>
    <div class=".container-fluid img">
        <div class="row d0">
            <div class="col-sm-12 col">
                <img class="img-fluid" src="static/images/dreamspace/zmkj.png" />
            </div>
        </div>
        <div class="row d0">
            <div class="col-sm-12 col">
                <img class="img-fluid" src="static/images/dreamspace/tb.png"/>
            </div>
        </div>
    </div>
</body>
</html>